.table {
  display: flex;
  justify-content: center;
}

.login-title {
  color: rgb(234, 240, 231);
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: monospace;  
  margin: 0px 0px 15px 0px;
  padding: 10px 0px 10px 40px;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.login-label-input {
  display: flex;
  justify-content: center;
  padding: 4px 20px;
}

.login-label {
  display: flex;
  justify-content: center;
  font-family: system-ui;
  color: white;
  padding-left: 20px;
  font-size: medium;
  height: 30px;
}

.login-input {
  font-family: system-ui;
  border-color: rgba(39, 39, 39, 0.481);
  border-radius: 3px;
  border: none;
  background-color: rgb(93, 126, 219);
  margin-left: 8px;
  font-size: medium;
  height: 25px;
  padding-left: 5px;
}

.input::placeholder {
  color: white;
  opacity: 1;
  font-weight: 600;
}

.link {
  color: rgb(234, 240, 231);
}

button {
  padding: 9px 20px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin: 20px 10px 20px 40px;
  width: 150px;
  font-weight: bold;
}

#login-button {
  display: flex;
  justify-content: center;
  padding: 9px 20px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin: 20px 10px 20px 40px;
  width: 90%;
  font-weight: bold;
}

#login-button:hover {
  background-color: rgba(0, 109, 136, 0.8);
}

button:hover {
  background-color: rgba(0, 109, 136, 0.8);
}

input::placeholder {
  color: white;
}

.register-button {
  width: 130px;
}

#login {
  margin-right: 43px;
}

#usuario {
  margin-right: 28px;
}

#email {
  margin-right: 43px;
}
