* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #0d0d0e;
}

li,
a,
button,
h3 {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
  list-style-type: none
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  border-style: groove;
  border-color: #edf0f1;
  border-width: 0px 0px 1px 0px;
}

.logo {
  cursor: pointer;
  width: 70px;
}

.welcome {
  display: flex;
  align-items: center;
}

header h2 {
  list-style: none;
  font-family: monospace;
  color: #edf0f1;
  font-size: 15px;
}

header h2:hover {
  color: rgba(0, 180, 224, 0.8);
  transition: 0.4s ease-in-out
}

.header-buttons {
  display: inline-flex;
}

.nav__links li {

  font-family: monospace;
  font-weight: bold;
}

#loginHeader {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10%;
  border-style: groove;
  border-color: #edf0f1;
  margin-bottom: 40px;
  border-width: 0px 0px 1px 0px;
}