* {
  font-family: monospace;
}

.search-title {
  display: flex;
  justify-content: center;
  font-size: medium;
  color: rgb(234, 240, 231);
  margin: 15px 0px;
  white-space: pre;
  font-weight: bold;
  font-size: 20px;
}

.search-buttons {
  display: flex;
  justify-content: center;
}

.search-button {
  background-color: rgba(0, 136, 169, 1);
  border: 2px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-family: system-ui;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  padding: 3px 7px;
  margin: 0px 5px 10px 5px;
  font-family: monospace;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-input {
  font-family: monospace;
  border-color: rgba(39, 39, 39, 0.481);
  border-radius: 3px;
  border: none;
  background-color: rgba(0, 136, 169, 1);
  margin-left: 8px;
  font-size: bold;
  height: 25px;
}

.search-input::placeholder {
  color: rgb(228, 228, 228);
  white-space: pre;
  align-items: center;
}

.search-input {
  color: white;
  padding-left: 5px ;
}

.search-results {
  display: flex;
  justify-content: center;
  color: rgb(234, 240, 231);
  margin: 40px 0 20px 0;
  font-weight: bold;
  font-size: 30px;
}

.discoverMovies {
  color: rgb(234, 240, 231);
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-weight: 350;
  font-size: 50px;
  text-shadow: 50px;
  box-shadow: inset;
  font-weight: 400;
}

#topRated {
  margin-bottom: 100px;
}
